<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">
        <i class="fa fa-home" aria-hidden="true"></i> @Html.ActionLink("We Cleared", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) 
    </span>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-link">
                @Html.ActionLink("Historique", "Historique", "Home")
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Reglements", "Reglements", "Home")
            </li>
            <li class="nav-item nav-link">
                <a href="https://drive.google.com/drive/folders/1tgCK2QmERotTqPkjWxjQ1IfZYstZve2Q?usp=sharing" target="_blank">Stratégies</a>
            </li>
            <li class="nav-item nav-link">
                @Html.ActionLink("Addons Client", "ExplicationsClient", "Home")
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>